/* FONTS */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --text-warning: #ffe3b9;
}

/* Global */
body {
  font-family: var(--primary-family);
  margin-bottom: 2rem;
}
.container {
  max-width: 1440px;
}

img {
  width: 100%;
}

.main--radius {
  border-radius: 24px;
}

.btn__heart {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 0;
}

.btn-warning {
  border-radius: 15px;
  background: var(--text-warning);
  border: none;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

/* Header */
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* Banner */
.banner {
  overflow: hidden;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;
}
.banner__image,
.banner__card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* banner card */
.banner__card {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
  max-height: 380px;
}

.banner__card--body {
  position: absolute;
  bottom: 0;
  left: 0;

  width: calc(100% - 32px);
  margin: 16px;
  border-radius: 12px;
  backdrop-filter: blur(32px);
  background: rgba(255, 255, 255, 0.31);
  padding: 8px;
}

.card__body--wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.banner__card--title {
  font-family: var(--primary-family);
  font-weight: 700;
  font-size: 22px;
  color: #031430;
}
.banner__card--price {
  font-family: var(--primary-family);
  font-weight: 500;
  font-size: 24px;
  color: #031430;
  margin: 0;
}
.price__prefix {
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 16px;
}
