/* FONTS */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Gugi";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gugi-v15-latin-regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --logo-family: "Gugi", sans-serif;
  --text-warning: #ffe3b9;
}

/* Global */
body {
  font-family: var(--primary-family);
  margin-bottom: 2rem;
  min-height: 100vh;
  position: relative;
}
.navbar-brand{
  display: inline-block;
}
section {
  margin-bottom: 120px;
}
.section__title {
  margin-bottom: 42px;
  font-family: var(--primary-family);
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  color: #000;
}
.container {
  max-width: 1440px;
}

img {
  width: 100%;
}

.main--radius {
  border-radius: 24px;
}

.bg--blur {
  backdrop-filter: blur(32px);
  background: rgba(255, 255, 255, 0.6);
}

.btn__heart {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 0;
}

.btn-warning {
  border-radius: 15px;
  background: var(--text-warning);
  border: none;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

/* Bg */
.bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header */
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* Banner */
.banner {
  overflow: hidden;
  height: 70vh;
  min-height: 600px;
  max-height: 800px;
}
.banner__image,
.banner__card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* banner card */
.banner__card {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
  max-height: 380px;
  cursor: pointer;
}
.banner__card--image {
  transition: all 0.2s ease-in-out;
}
.banner__card:hover .banner__card--image {
  transform: scale(1.1);
}

.banner__card--body {
  position: absolute;
  bottom: 0;
  left: 0;

  width: calc(100% - 32px);
  margin: 16px;
  border-radius: 12px;
  backdrop-filter: blur(32px);
  background: rgba(255, 255, 255, 0.31);
  padding: 8px;
}

.card__body--wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.banner__card--title {
  font-family: var(--primary-family);
  font-weight: 700;
  font-size: 22px;
  color: #031430;
}
.banner__card--price {
  font-family: var(--primary-family);
  font-weight: 500;
  font-size: 24px;
  color: #031430;
  margin: 0;
}
.price__prefix {
  font-family: var(--primary-family);
  font-weight: 400;
  font-size: 16px;
}

/* Flower collection */
.flower__card {
  width: 100%;
  height: 100%;
}
.flower__card--image {
  height: 100%;
  max-height: 290px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 12px;
  transition: all 0.2s ease-in-out;
}

.flower__card--image--bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flower__card--image--bg img {
  max-width: 90vw;
  max-height: 60vh;
  border-radius: 24px;
  opacity: 0.2;
  filter: blur(36px);
  object-fit: cover;
}
.flower__card:hover:not(.notHover) .flower__card--image {
  transform: scale(1.1);
}
.flower_card--desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #424242;
}

/* ====================
      DETAILS
=======================*/
.card__comment {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.card__comment:nth-child(even) {
  border-top: 1px solid #cbcbcb;
}
.card__comment--body {
  display: flex;
  gap: 22px;
}
.card__comment--image {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  object-fit: cover;
}

.card-end {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* ====================
      ADMIN
=======================*/

.admin_layout { 
  width: 100%;
  padding-left: 400px;
}

.admin__side {
  max-width: 385px;
  width: 100%;
  padding: 30px 18px;
  backdrop-filter: blur(32px);
  background: rgba(255, 255, 255, 0.31);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.admin__side .navbar-brand {
  margin-bottom: 20px;
}
.logo--title {
  font-family: var(--logo-family);

  font-weight: 400;
  font-size: 32px;
  text-align: center;
  background: linear-gradient(90deg, #000 0%, #424242 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile__card {
  border-radius: 12px;
  width: 100%;
  min-height: 71px;
  backdrop-filter: blur(32px);
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.profile__card--image {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(150, 150, 150) 0%,
    rgb(223, 223, 223) 100%
  );
}

.profile__card--title {
  font-family: var(--primary-family);
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  margin: 0;
  line-height: 140%;
}
